<!-- <app-nav-menu></app-nav-menu> -->
<div class='page'>
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="isAuthenticated | async">
    <ng-container *ngFor='let w of openedWindows'>
        <app-conversation-window *ngIf="w.type === EWindowType.CONVERSATION"
            [windowHandler]='w'
            [conversationId]='w.id'
            (windowStateChanged)="onWindowStateChanged($event)"
        ></app-conversation-window>

        <app-notepad-window *ngIf="w.type === EWindowType.NOTEPAD"
            [windowHandler]='w'
            (windowStateChanged)="onWindowStateChanged($event)"
        ></app-notepad-window>

        <app-window *ngIf="w.type === EWindowType.OTHER"
            [windowHandler]='w'
            (windowStateChanged)="onWindowStateChanged($event)"
        ></app-window>
    </ng-container>
</ng-container>