.dialog-content{
    margin-bottom: 1rem;
}

.content{
    font-size: 0.9rem;
}

.created, .seen-by{
    font-size: 0.8rem;
    font-weight: 500;
}

.seen-by{
    margin-bottom: 0.3rem;
}

.wrote-by{
    font-weight: 500;
    color: #000;
}