$theme-color: rgba(33, 55, 104, 1);
//$theme-background: linear-gradient(53deg, #213768 0%, #355aab 100%);
$theme-background: linear-gradient(
    53deg, #213768e0 0%, #355aabe0 100%);
$theme-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$theme-containers-radius: 0.5rem;
$theme-transition: all 0.2s ease-in-out;
$theme-font: "Urbanist", "Verdana", sans-serif;
$theme-font-color: #353535;