<div class="item" *ngIf="currentUser">
    <div class="user-panel-container">
        <div class="user-avatar">
            <img class="user-avatar-image" src="{{currentUser.pictureUrl}}">
        </div>
        <div class="user-info">
            <div class="user-nick">
                <span class="user-nick-text">{{currentUser.firstName}} {{currentUser.lastName}}</span>
            </div>
            <!-- <div class="user-description" id="main-user-description">
                <span class="user-description-text" id="user-description-text">Enter your description here...</span>
            </div> -->
        </div>
        <app-mouse-menu
            [options]="optionsItems"
            (onMenuShown)="onMenuShown($event)"
            (onOpionClicked)="onMenuOptionClick($event)"
            >
                <i class="fas fa-chevron-down"></i>
        </app-mouse-menu>
    </div>
</div>

<div class="item item-conversations" *ngIf="userConversations && currentUser && users; else fetchingData">
    <!-- <div class="input-contrainer">
        <input type="text" placeholder="Search in last conversations" />
    </div> -->
    <ng-container *ngFor='let c of userConversations'>
        <app-conversation-item
            [convId]='c.id'
            [title]='c.name'
            [pics]="c.users | userIdsListToArray | userIdsToUserDtos:users | userListPicsArray:currentUser.id"
            [lastMessage]='c.lastMessage?.content'
            [lastMessageTime]='c.lastMessage?.created'
            [displayName]='c.users | userIdsListToArray | userIdsToUserDtos:users | userIdUserDisplayName:c.lastMessage?.createdBy:currentUser.id'
            [unseenMessages]='c.unseenMessages'
            (onItemClicked)="onConversationItemClicked($event)"
        ></app-conversation-item>
    </ng-container>
</div>

<div class="item item-controls">
    <a [routerLink]="['/new-conversation']">
        <i class="fas fa-plus"></i> New conversation
    </a>
</div>
<ng-template #fetchingData>
    <div class="loader-full item item-conversations">
        <app-loading-spinner text="Connecting"></app-loading-spinner>
    </div>
</ng-template>